/* // color variables */
$primary: #9FD456;
$secondary: #80AA45;
$secondary2: #30584C;
$secondary3: #E65E36;
$bg1: #E7F0E9;
$bg2: #10271D;

/* Color styles */
$n0: #ffffff;
$n10: #fafafb;
$n20: #f5f6f7;
$n30: #ebecef;
$n40: #dfe0e4;
$n50: #c1c4cc;
$n60: #b2b6bf;
$n70: #a6aab5;
$n80: #979ca8;
$n90: #888e9c;
$n100: #798090;
$n200: #6a7283;
$n300: #5b6477;
$n400: #4f586d;
$n500: #404a60;
$n600: #343e56;
$n700: #222e48;
$n800: #13203b;
$n900: #10271D;
